aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
apparmor==3.1.7
argcomplete==2.0.0
attrs==23.2.0
Babel==2.12.1
backoff==2.2.1
beautifulsoup4==4.12.3
blivet==3.8.2
blivet-gui==2.5.0
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.3.1
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
configobj==5.0.8
cssselect==1.1.0
cupshelpers==1.0
dasbus==1.7
dataclasses-json==0.6.6
dbus-python==1.3.2
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
distro==1.9.0
dnf==4.18.2
dnspython==2.6.1
email_validator==2.1.1
emoji==2.12.1
evdev==1.6.1
fastapi==0.111.0
fastapi-cli==0.0.3
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.12.2
filetype==1.2.0
frozenlist==1.4.1
greenlet==3.0.3
gssapi==1.7.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
i3ipc==2.2.1
idna==3.7
initial-setup==0.3.98
inkex==1.3.0
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
koji==1.34.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-text-splitters==0.2.0
langdetect==1.0.9
langsmith==0.1.63
langtable==0.0.65
LibAppArmor==3.1.7
libcomps==0.1.20
libdnf==0.73.1
lutris==0.5.17
lxml==4.9.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
mdurl==0.1.2
mercurial==6.5.3
moddb==0.8.1
multidict==6.0.5
mutagen==1.46.0
mypy-extensions==1.0.0
netifaces==0.11.0
nftables==0.1
nltk==3.8.1
notify2==0.3.1
numpy==1.24.4
nwg-panel==0.9.25
olefile==0.46
openai==1.30.1
ordered-set==4.1.0
orjson==3.10.3
packaging==23.2
pexpect==4.8.0
pid==2.2.3
pillow==10.2.0
ply==3.11
productmd==1.38
progressbar2==3.53.2
protobuf==3.19.6
psutil==5.9.5
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycryptodomex==3.20.0
pycups==2.0.1
pycurl==7.45.2
pydantic==2.7.1
pydantic_core==2.18.2
pygdbmi==0.11.0.0
pygit2==1.14.0
Pygments==2.18.0
PyGObject==3.46.0
pykickstart==3.48
pyparsing==3.0.9
pyparted==3.13.0
pypdf==4.2.0
pypresence==4.3.0
pyprland==2.2.20
pyquery==1.4.3
pyrate-limiter==2.10.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-meh==0.51
python-multipart==0.0.9
python-utils==3.3.3
python-xlib==0.33
pyudev==0.24.1
pywal==3.3.0
pyxdg==0.27
PyYAML==6.0.1
rapidfuzz==3.9.1
regex==2024.5.15
requests==2.32.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rich==13.7.1
rpm==4.19.1.1
rpmautospec==0.6.3
rpmautospec-core==0.1.4
scour==0.38.2
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
sentry-sdk==1.39.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setproctitle==1.2.3
setuptools==67.7.2
shellingham==1.5.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sos==4.6.0
soupsieve==2.5
SQLAlchemy==2.0.30
starlette==0.37.2
steam==1.4.4
systemd-python==235
tabulate==0.9.0
tenacity==8.3.0
tldextract==3.5.0
toolz==0.12.0
tqdm==4.66.4
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.11.0
ujson==5.10.0
unstructured==0.14.2
unstructured-client==0.22.0
urllib3==1.26.18
uvicorn==0.29.0
uvloop==0.19.0
VapourSynth==63
vdf==3.4
watchfiles==0.21.0
websockets==12.0
wrapt==1.16.0
yarl==1.9.4
yt-dlp==2024.3.10
zombie-imp==0.0.2
zstandard==0.21.0
